__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

venv/
.env

*.npy
*.h5
*.keras
*.edf
*.csv
*.zip
*.npz

files/seizure-detection-pipeline/data/
files/seizure-detection-pipeline/models/
files/seizure-detection-pipeline/venv/
